/* Navbar Container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    background-color: #0f172a;
}

/* Logo */
.logo {
    font-size: 28px;
    font-weight: bold;
    color: white;
}

/* Navigation Links */
.nav-links {
    display: flex;
    list-style: none;
    gap: 35px;
}

/* Links */
.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

/* Hover */
.nav-links a:hover {
    color: #38bdf8;
}