/* ===========================
   Navbar Container
=========================== */

.navbar {
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding: 0 60px;

    background-color: #0f172a;

    box-sizing: border-box;
}


/* ===========================
   Navigation Links
=========================== */

.nav-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    list-style: none;

    gap: 35px;

    margin: 0;
    padding: 0;
}


/* ===========================
   Navigation Items
=========================== */

.nav-links li {
    margin: 0;
    padding: 0;
}


/* ===========================
   Navigation Links
=========================== */

.nav-links a {
    text-decoration: none;

    color: white;

    font-size: 18px;
    font-weight: 500;

    transition: 0.3s;
}


/* ===========================
   Hover
=========================== */

.nav-links a:hover {
    color: #38bdf8;
}


/* ===========================
   Responsive
=========================== */

@media (max-width: 768px) {

    .navbar {
        height: auto;
        padding: 20px;
        justify-content: center;
    }

    .nav-links {
        gap: 20px;
    }

    .nav-links a {
        font-size: 16px;
    }
}